<h1><%= @board.name %></h1>

<%= link_to 'edit this board', edit_board_path(@board) %>
 <br>
 <%= link_to 'delete this board', board_path(@board), method: :delete, confirm: 'are you ok?' %>

 <hr>
 
 <%= link_to 'back to index', boards_path() %> 
